<script>
fetch('@Url.Page("UserPage", "SelectedCategory")')
    .then(response => response.json())
    .then(categories => {
        const select = document.getElementById('categorySelect');
        select.innerHTML = '<option value="">Choose Category</option>';
        
        categories.forEach(category => {
            const option = document.createElement("option");
            option.value = category.id;
            option.textContent = category.name;
            select.appendChild(option);
        });
    })
    .catch(error => {
        document.getElementById('categorySelect').innerHTML = '<option value="">An error occured</option>';
    });
</script>